.sec-title,
.sec-sub-title {
  color: $cBlack;
  font-weight: bold;
  // text-align: center;
}

.sec-title {
  font: 400 26px "Noto Sans CJK JP", sans-serif;
  color: $cDarkGray;
  margin-bottom: 32px;

  @include mq-up(md) {
    font-size: 36px;
  }
}

.sec-sub-title {
  font-size: 14px;
  line-height: 1.8;
  @include mq-up(md) {
    font-size: 16px;
  }
}
